# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SendingEmail.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\DevOps\Documents\Sending-Email-using-SMTP-in-ASP.NET-MVC-5-master\.idea\.idea.SendingEmail\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
